.header{
    background-image: url(/img/ourCoffee.png) !important;
    height: 260px;
    width: 100%;
}

.middle_text {
    padding-top: 30px;
}


.ourCoffee_inner{
    display: flex;
    justify-content: center;
    align-items: center;
    /* align-content: stretch; */
    gap: 90px;
}

.textArticle {
    padding-top: 25px;
    padding-bottom:0px;
    max-width: 346px; 
}

.line{
    margin-top: 57px;
    margin-bottom: 60px;
}

.find_coffee_inner{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    gap: 80px; 
}

.finder{
    padding-right: 20px;
}
.finder_input{
    text-align: center;
    width: 180px;
    height: 30px;
    background: #FFFFFF;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    border: 0px ;
    outline: none;
}

.btn_country .b{
    border-radius: 0px;
}
.btn_country c{
    border-radius: 4px 0px 0px 4px;
    transform: rotate(180deg);
}
.btn_country {
    background: #FFFFFF;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 4px 0px 0px 4px;
    text-align: center;
    width: 75px;
    height: 30px;
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    border: 0;
    cursor: pointer;
    }
.btn_country:hover{
    background: #aFFF;
}


.best_menu_list{
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.best_menu_item{
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
    width: 220px;
    height: 260px;
    background: #FFFFFF;
    border-radius: 8px 
}

.container2{
    width: 900px;
    padding: 0 10px;
     margin: auto;
}

.name_country{
    padding-top: 10px;
    /* font-weight: 700; */
    align-self: flex-end;
    padding-right: 20px;
}

/* .bestCoffee{
    position: relative;
    background-image: url(../img/MaskGroup.jpg);
     background-position: center;
     background-size: cover;
    height: 500px;
    color:black !important;
    font-family: 'Merienda';
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(62, 55, 55, 0.25);
    padding-top: 80px;
}

.best_menu_list{
    padding-top: 20px;
    display: flex;
    gap: 70px;
    justify-content: center;
   
}


.best_menu_item{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 220px;
    height: 240px;

    border-radius: 8px;
    background-color: #FFFFFF;
}

.img_coffee{
    
    background-position: center;
    background-size: cover;
    padding-top: 22px;
    padding-bottom: 14px;
}

.price{
    
    
    padding-top: 10px;
    font-weight: 700;
    align-self: flex-end;
    padding-right: 20px;
} */