.header{
    background-image: url(/img/ourCoffee.png) !important;
    height: 260px;
    width: 100%;
}

.middle_text {
    
    padding-top: 30px;
}

/* .bestCoffee{
    position: relative;
    background-image: url(../img/MaskGroup.jpg);
     background-position: center;
     background-size: cover;
    height: 500px;
    color:black !important;
    font-family: 'Merienda';
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(62, 55, 55, 0.25);
    padding-top: 80px;
}

.best_menu_list{
    padding-top: 20px;
    display: flex;
    gap: 70px;
    justify-content: center;
   
}


.best_menu_item{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 220px;
    height: 240px;

    border-radius: 8px;
    background-color: #FFFFFF;
}

.img_coffee{
    
    background-position: center;
    background-size: cover;
    padding-top: 22px;
    padding-bottom: 14px;
}

.price{
    
    
    padding-top: 10px;
    font-weight: 700;
    align-self: flex-end;
    padding-right: 20px;
} */