html{
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

h4 {
    padding: 0 0;
    margin: 0 0;
}

p {
    padding: 0 0;
    margin: 0 0;
}

ul {
    margin: 0;
    list-style: none;
}

li {
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
    /* cursor: pointer; */
}

br{
    margin-bottom: 25px;
}

body {
    font-family: 'Merienda';
    font-style: normal;
    font-size: 14px;
    color: #131313;
    font-weight: 400px;
    line-height: 17px;
    text-align: center;
    margin: 0 auto;
}

.container {
     max-width: 1420px; 
     padding: 0 10px;
     margin: auto;
  
}

.header{
    position: relative;
    background-image: url(../img/desk-791178_1920.png);
     background-position: center;
     background-size: cover;
    height: 640px;
    font-family: 'Merienda';
    /* font-family: 'Inter', sans-serif; */
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(62, 55, 55, 0.25);
    margin-bottom: 80px;

}

.menu_list{
    display: flex;
    align-items: flex-end;
    padding-top: 30px;
    gap: 40px; 
    justify-content: start;
    
    padding-left: 150px;
    
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  
}

.menu_item{
    /* justify-content: center; */
    text-decoration: none;
}

.middle_text{
    
    padding-top: 180px;
   
}

.middle_text .text1{
    font-weight: 700;
    font-size: 40px;
    line-height: 58px;
    padding-bottom: 20px;
}

.middle_text .text2 {
    padding-top: 35px;
    padding-bottom: 20px;

    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
}

.text3{
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    padding-bottom: 20px;
}

.btn_info{
    font-family: 'Merienda';
    
    line-height: 20px;
    color: #FFFFFF;

    border-radius: 5px;
    text-align: center; 
  
    border: 2px solid #fff;
    background-color: transparent;
    width: 120px;
    height: 30px;
    cursor: pointer;
}

.about_inner {
    content: '';
    display: inline-block;
    max-width: 590px;
    height: 100%;
    /* vertical-align: middle; */
  }

.textArticle{
    padding-top: 40px;
    padding-bottom: 100px;
}

